<form {{action "findGame" on="submit"}}>
  {{
    input
      type='text'
      id='code'
      placeholder='Game Code'
      value=gameId
  }}

  <button type="submit" class="btn btn-primary">Find Game</button>
</form>
